.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
  text-align: center;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

.mainInput{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.MainGraph {
  width: 80%;
  height: 500px;
  border: 5px solid brown;
  
  display: flex;
  align-items: flex-end;
  gap: 7px;
  padding-left: 10px;

  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}
