.App {
  align-items: center;
  padding-top: 30px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

.App-link {
  color: #61dafb;
}

.input{
  width: 100%;
  height: 100px;
}
